@font-face {
    font-family: 'PT Mono';
    src: url(../assets/fonts/pt-mono/PTM55FT.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/montserrat/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
